body{
    background-color: #fff;
}
.content{
    width: 55%;
    height: 100%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 25px;
    margin-top: 90px;
    background-color:#AEC3AE ;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.content h1{
    color:#435334;
}
img{

    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 0 -8px;
    border-radius: 50%;

}